@import url('https://fonts/googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2F303A;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}


.branding {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.branding-name {
    margin-left: 1rem;
}

.nav-main ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-main a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.nav-main a:hover {
    color: #adadad;

}

.main-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px; 
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    background-color: #1762A7;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
}

.abt-me-hdr {
    position: relative;
    top: 10px;
    left: 7px;
    font-style: italic;
    font-weight: 800;
    font-size: 65px;
}

.abt-me-txt {
    position: relative;
    top: 30px;
    left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    max-width: 750px;
}

.abt-me-txt a:link{
    text-decoration: none;
    color: white;
}

.abt-me-txt a:visited {
    text-decoration: none;
    color: white;
}

.abt-me-txt a:hover {
    text-decoration: underline;
    color: #5865f2;
}

.scls-hdr {
    position: relative;
    top: 50px;
    font-style: italic;
    font-weight: 800;
    font-size: 65px;
}
.scls-txt a:link {
    color: white;
    text-decoration: none;
    position: relative;
    top: 70px;
    left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.scls-txt a:visited {
    color: white;
    text-decoration: none;
    position: relative;
    top: 70px;
    left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.scls-yt-icon {
    position: relative;
    top: 4px;
}

a.scls-yt:hover {
    color: #c4302b;
}

.scls-inst-icon {
    position: relative;
    top: 4px;
}

a.scls-inst:hover {
    color: #fbad50;
}

.scls-dc-icon {
    position: relative;
    top: 4px;
}

a.scls-dc:hover {
    color: #5865f2;
}

.scls-git-icon {
    position: relative;
    top: 4px;
}

a.scls-git:hover {
    color: #dcd1d1;
}
